.container {
  margin: none;
  padding: none;
  min-width: 50vw;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid grey;
  margin-left: -20px;
}

.link {
  color: #0070f3;
  text-decoration: underline;
}

.unread .time::before {
  content: "New";
  color: white;
  background-color: #0070f3;
  margin-right: 10px;
  padding: 5px 7.5px 5px 7.5px;
  border-radius: 10px;
}

.notification .time {
  margin-left: 10px;
  color: grey;
}

@media (max-width: 1200px) {
  .unread .time::before {
    content: none;
  }

  .time {
    margin-top: 1px;
  }
}
