.info,
.footer-options,
.likes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 1px solid black;
  margin: 10px;
  border-radius: 10px;
}

.sender {
  border-bottom: 1px solid grey;
}

.content {
  word-wrap: break-word;
  padding: 15px;
  margin: 10px;
}

.content,
.sender {
  padding-left: 10px;
}

.info {
  width: 80%;
  justify-content: space-between;
}

.link {
  color: #0070f3;
  text-decoration: underline;
}

.name {
  margin: 10px;
}

.footer {
  border-top: 1px solid grey;
  border-radius: 0px 0px 10px 10px;
  background-color: #ececec;
}

.time {
  color: grey;
}

.likes {
  justify-content: space-evenly;
  text-decoration: none;
}

.like,
.unlike {
  margin-right: 0.25rem;
}

.unlike {
  color: red;
}

.unlike:hover {
  color: #ff5858;
}

.delete {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.delete i {
  padding-left: 0.5px;
}

.delete:hover {
  color: red;
}

@media (prefers-color-scheme: dark) {
  .container {
    border-color: grey;
  }
  .delete {
    color: white;
  }
  .footer {
    background-color: #1e1e1e;
  }
}
